.footer {
  padding: 48px 0px;
  color: #FFFFFF;
  background-color: var(--stone-600);
  text-align: center;
  font-family: var(--font-primary);
}

.footer button{
  margin: 32px auto;
  margin-bottom: 0px;
  font-family: var(--font-secondary);
}

.footer--email {
  padding-top: 1.5em;
}


.footer__social {
  margin-top: 32px;
}

.footer__social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer__social i {
  font-size: 2em;
  color: white;
} 