.skills {
  padding: 1em 0em;
}

.skills__header {
  margin-bottom: 16px;
}

.skills__header h2, .skills__header p {
  text-align: center;
}

.skills_frame {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1rem;
}

.skills__cards {
  display: grid;
  grid-template: 1fr / 2.5rem 1fr;
  background-color: #DAECFE;
  border-radius: .5rem;
}

.skills__cards i{
  font-size: 1.5rem;
  color: #007FFF;
}

.skills-icon {
  padding-left: 0.5rem;
}

.skills__cards-content h3{
  margin-bottom: 0.1em;
}